@{
    ViewData["Title"] = "Home Page";
}

<script type="text/javascript" src="~/js/LoadPartial.js"></script>



<div class="row"></div>
<div class="row">
    <div class="col-md-3">
        <div class="productCategories" id="LoadCategories" data-url="@Url.Action("LoadCategories", "Home")">
            
        </div>
    </div>
    <div class="col-md-9">
        <div class="RecentProducts" id="LoadProducts" data-url="@Url.Action("MostRecentProducts", "Home")">

        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        registerAjaxLinkLoad("#LoadProducts", ".RecentProducts");
    })
</script>

<script>
    $(document).ready(function () {
        registerAjaxLinkLoad("#LoadCategories", ".productCategories");
    })
</script>