@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-3">
       <div class="productCategories">
           <ul>
               <li>Electronics</li>
               <li>Jewellery</li>
               <li>Clothing</li>
               <li>Home & Garden appliance</li>
               <li>Health & Beauty</li>
           </ul>
       </div>
    </div>
    <div class="col-md-9">
        
    </div>
</div>