@using RipoffExpress.Models;

@model IEnumerable<Category>

@{
    ViewData["Title"] = "RipOffExpress";
}

<ul>

    @foreach (Category Category in Model)
    {
        <li><a href="">@Category.Name</a></li>
    }

</ul>