@using RipoffExpress.Models.ProductModels;

@model IEnumerable<ProductModelView>

@{
    ViewData["Title"] = "RipOffExpress";
}

<table>

    @foreach (var product in Model)
    {
        <tr>
            <td><img src="@product.MediaUrl" alt="Product picture" /></td>
            <td>@product.Name</td>
            <td>@product.Price</td>
        </tr>
    }

</table>