@using RipoffExpress.Models.ProductModels;

@model IEnumerable<ProductModelView>

@{
    ViewData["Title"] = "RipOffExpress";
}

<table>

    @foreach (var product in Model)
    {
        
        <tr>
            <td><a href="#"><img src="@product.MediaUrl" alt="Product picture" /></a></td>
            <td><a href="">@product.Name</a></td>
            <td>@product.Price</td>
        </tr>
        
    }

</table>