@using RipoffExpress.Models;

@model StoreViewModel


<h4>Categories</h4>
<table>
    @foreach (Category Category in Model.Categories)
    {
        <tr>
            <td>
                <a value="@Category.Name" onclick="ShowProducts(@Category.Id)">@Category.Name</a>
            </td>
        </tr>
    }
</table>