@using RipoffExpress.Models;

@{
    ViewData["Title"] = "StoreProductManagement";
}

<h2>StoreProductManagement</h2>

<section>
    <ul>
        <li><a id="LoadStore" href="@Url.Action("Store","Store")">Return to store</a></li>
        
    </ul>
</section>
